@model University.Entities.Student
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

<form id="StudentRegistraton">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-2">Name</label>

                <input type="text" name="Name" class="form-control" value="" />

            </div>

            <br />
            <div class="form-group">
                <label class="control-label col-md-2">Email</label>

                <input type="text" name="Email" id="EmailField" class="form-control" value="" />
                <span id="result" />
            </div>

            <br />
            <div class="form-group">
                <label class="control-label col-md-2">Contact No</label>

                <input type="text" name="ContactNo" class="form-control" value="" />

            </div>

            <br />
            <div class="form-group">
                <label class="control-label col-md-2">Date</label>

                <input type="datetime-local" name="Date" class="form-control" value="" />

            </div>

            <br />
            <div class="form-group">
                <label class="control-label col-md-2">Address</label>

                <input type="text" name="Address" class="form-control" value="" />

            </div>

            <br />
            <div class="form-group">
                <label class="control-label col-md-2">Department</label>



                <select class="form-control" name="DepartmentId" id="DepartmentId">

                    <option value="">Select Department</option>
                    @foreach (var aDepartment in ViewBag.DepartmentList)
                    {
                        <option value="@aDepartment.Id">@aDepartment.Name</option>
                    }

                </select><label id="DeptErrorLabel" style="color: red;"></label>



            </div>

            <br />
            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
            <button id="restBtn" type="button" class="btn btn-danger">Reset</button>
        </div>
        <br />
        <span id="formEmpty" />
    </div>


</form>
<script>
    function checkEmail() {
        let temp = null;
        $.ajax({
            type: "get",
            global: false,
            dataType: 'html',
            async: false,
            url: '@Url.Action("IsEmailExists", "Student")',
            data: { email: $('#EmailField').val() },
            success: function (data) {
                
                temp = data;
                
               
                
            }
         });
        return emailprint(temp)
    };
    function emailprint(tata) {
        if (tata == "False") {
            
            $("#result").html("<span style='color:green'>this is an unique email address</span>");
            $("#EmailField").css('background-color', '');
            $("#saveBtn").attr("disabled", false);
           
            return true;



        }
        else {
            $("#result").html("<span style='color:red'>email already in used!!</span>");
            $("#EmailField").css('background-color', '#e97878');
            $("#saveBtn").attr("disabled", true);
            
            return false;
        }
    };

    function formCheck() {
            let empty = false;
            $('.form-control').each(function () {
                if ($(this).val() == '') {
                    empty = true;

                }

                
            });

        return formprint(empty);
       
    };
    function formprint(data) {
        if (data) {
            $("#saveBtn").attr('disabled', true);
            $("#formEmpty").html("<span style='color:red'>Please, Fill up all the boxes to enable save button </span>");
        
            return false;

        }
        else {

            $("#saveBtn").attr('disabled', false);
            
            return checkEmail();
            
            


        }
    };
   


    $("#saveBtn").click(function () {
        var kom = formCheck();

        if (kom) {
            console.log("saveBtn if hit");
            $.ajax({
                type: "POST",
                url: '@Url.Action("Register", "Student")',
                data: $("#StudentRegistraton").serialize()
            })
                .done(function (response) {

                    console.log(response);

                    console.warn("Done!!!");

                })
                .fail(function (xmlHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });
        }
        else
        {
            
            $("#saveBtn").addClass("hidden");
            $("#restBtn").removeClass("btn-danger");
            $("#restBtn").addClass("btn-warning");
            $("#formEmpty").html("<span style='color:red'>Please, Fill up all the boxes to enable save button click </span>");
        }

    });
    $("#restBtn").click(function () {
        $.ajax({
            type: "Get",
            url: '@Url.Action("Register", "Student")',

        })
            .done(function (response) {

                $("#StudentRegistraton").html(response)

            })
            .fail(function (xmlHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
</script>